body {
    background: #cccccc;
}

p {
    color: black;
    background: #888888;
}

p.test {
    color: green
}

#idTest {
    color: deeppink
}

h2.test {
    color: deepskyblue;
}

gallerypic {
    background: darkgray;
}